# ANIL
## ANIL
### ANIL
#### ANIL

# Python 
    - python1
    -python2
    
# Font styles 
   - *python*
   - **python**
   - ***python***
    
   # Print Function():
     - **in python print function used to print specific text or message**

print ("HELLO ANIL BUJJI")

In [3]:
print ("HELLO ,PRUDHVI")

HELLO ,PRUDHVI

In [4]:
print ("HELLO ,KESAV ,SINDU,RUPA ,SANDEEP")

HELLO ,KESAV ,SINDU,RUPA ,SANDEEP

# variables:
   - **to store some data values**

In [5]:
a = 15 # single value assigned to single variable
print(a)

15

In [6]:
a = b = c = 20 # single value assigned to multiple variables
print(a,b,c)

20 20 20

In [7]:
a,b,c = 5,10,15 # multiple values assigned to multiple variables
print(a,b,c)

5 10 15

# Input Function:
   - **accept input from user

In [9]:
# Input as text 
x = input("enter your name:")
print("your name is :",x)
print(type(x))

enter your name:ANIL
your name is : ANIL
<class 'str'>

In [11]:
# Input as number
n = input("enter a number:")
print(n)
print(type(n))

enter a number:45
45
<class 'str'>

# Data types:

In [19]:
# integer
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [22]:
# float
a = 20.254
print(a)
print(type(a))

20.254
<class 'float'>

In [23]:
# string
y = "python"
print(y)
print(type(y))

python
<class 'str'>

# Data Conversions:

In [27]:
# integer
n = 5
print(n,type(n))
f = float(n)
print(f,type(f))
s = str(n)
print(s,type(s))

5 <class 'int'>
5.0 <class 'float'>
5 <class 'str'>

In [36]:
# float 
n = 55.6
print(n,type(n))
f = int(n)
print(f,type(f))
s = str(n)
print(s,type(s))

55.6 <class 'float'>
55 <class 'int'>
55.6 <class 'str'>

In [40]:
# string
n = "354"
print(n,type(n))
f = float(n)
print(f,type(f))
s = int(n)
print(s,type(s))

354 <class 'str'>
354.0 <class 'float'>
354 <class 'int'>

Display three string “Name”, “Is”, “James” as “Name**Is**James”

In [41]:
n = input("enter your name :")
print("name is ",n)

enter your name :james
name is  james

Write a Python program which accepts the radius of a circle from the user and compute the area .

In [42]:
pi = 3.14
r = int(input("enter radius :"))
print(pi*r*r)

enter radius :15
706.5

Accept two numbers from the user and return their sum, multiplication and division

In [43]:
a = int(input())
b = int(input())
c = a+b
d = a-b
e = a*b
f = a/b
print(c,d,e,f)

65
87
152 -22 5655 0.7471264367816092

Accept two numbers from the user and return their sum, multiplication and division

In [44]:
x = int(input("enter a year :" ))
x = x+50
print(x)

enter a year :1945
1995